:root {
 --Bright-Blue: hsl(220, 98%, 61%);
 --Check-Background: linear-gradient(to right , hsl(192, 100%, 67%) ; hsl(280, 87%, 65%));
 --Very-Light-Gray: hsl(0, 0%, 98%);
 --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
 --Light-Grayish-Blue: hsl(233, 11%, 84%);
 --Dark-Grayish-Blue: hsl(236, 9%, 61%);
 --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
 --Very-Dark-Blue: hsl(235, 21%, 11%);
 --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
 --border-radius: .4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    
}

.todo-header {
    display: flex;
    justify-content: space-between;
    padding:1rem;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--Very-Light-Gray);
}

.sun {
    background-image: url(./images/icon-sun.svg);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.sun:hover {
    scale: 1.1;
}

.moon {
    background-image: url(./images/icon-moon.svg);
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}


.todo-header-section {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-size: cover;
    width: 100vw;
    height: 35vh;

}


.todo-input {
    background-color: var(--Very-Dark-Desaturated-Blue);
    border: none;
    padding: 1rem;   
    width: 90vw;
    color: var(--Very-Light-Gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    box-sizing: border-box;
}

.todo-input:focus {
    outline: none;
}

.todo-input:hover {
    border:.1rem solid rgb(173, 119, 239);
}

.error-message {
  color: red;
   width: 90vw;
  font-size: 24px;
  margin-top: 8px;
  transition: opacity 0.3s ease;
}

.dark-input {
        background-color : var(--Very-Light-Grayish-Blue);
        color: var(--Very-Dark-Blue)
    }



.light {
    background-image: url(./images/bg-desktop-light.jpg);
    background-size: cover;
}

.todo-main-section {
    background-color: var(--Very-Dark-Blue);
    width: 100vw;
    min-height: 100vh;    
    color: var(--Dark-Grayish-Blue);
    padding: 1rem;
    
}

.todo-list { 
  margin: 0 2rem;
  list-style: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--Very-Dark-Desaturated-Blue);
  
   
}

.empty-image {
    display: none;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
}

.icons {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem;
    border-top: .1px  solid var(--Dark-Grayish-Blue);
  
} 

.sortable-chosen {
  background-color: #e0e0e0;
  opacity: 0.9;
  cursor: grabbing;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transform: none; /* بدون تكبير */
  transition: background-color 0.2s ease;
}


.sortable-ghost {
  opacity: 0.4;
  background-color: #cfcfcf;
  border: 2px dashed #999;
}


.taskInput {
    margin: 0 1rem;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icons::after {
    position: absolute;
    content: '';
    top: 1.7rem;
    left: 3rem;
    width: 70%;
    height: .1px;
    display: none;
    background-color: var(--Dark-Grayish-Blue);
}

.icons.hide-line::after {
    overflow:visible;
    display: block;
}

.icon-check {
    background: linear-gradient(to bottom,  hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    padding: .1rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.chek {
    display: none;
    padding: .1rem;   
}

.icon-checked {
   min-width: 1.3rem;
    min-height: 1.3rem;
    border-radius: 50%;
    border: .1rem solid var(--Very-Dark-Grayish-Blue);

}

.icon-checked:hover {
    scale: 1.1;
}

.icon-check:hover {
    scale: 1.1;
}


.icon-cross {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.icon-cross:hover {
    scale: .7;
}

.filter-group-desktop , .filter-group-mobile {
    display: flex;
    padding: 1.5rem;
    margin:0 2rem 2rem;
    border-radius: var(--border-radius);
    background-color: var(--Very-Dark-Desaturated-Blue);
    justify-content: space-between;
    cursor: pointer;
    border-top: .1px  solid var(--Dark-Grayish-Blue);
}

.three-filter-buttons {
    display: flex;
    gap: 1.5rem;
}



.lightMode {
    background-color: var(--Light-Grayish-Blue);
        
}

.veryLightMode {
    background-color: var(--Very-Light-Grayish-Blue);
}

button.filter-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--Dark-Grayish-Blue);
}

.color-buttons {
    color: var(--Dark-Grayish-Blue);

}
button.filter-btn.active {
  color: var(--Bright-Blue);
  font-weight: bold;

}

.todo-footer{
    margin-top: 4rem;
}

@media  (min-width: 500px) {
    .todo-header-section {
        background-image: url(./images//bg-desktop-dark.jpg);
        background-size: cover;
    }
    .light {
        background-image: url(./images/bg-mobile-light.jpg);
    }
}

@media (max-width: 500px) {
    .filter-group-desktop {
        display: none;
    }
}

@media (min-width: 500px) {
    .filter-group-mobile   {
        display: none;
    }
}

